@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #183C45;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #68a3b2;
}

.logo {
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 18px;
}

.nav-links a {
    padding: 10px 30px;
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    background: #5b8fa5;
    color: #000;
    transition: 0.19s;
}


.hero {
    display: flex;
    height: 815px;
}


.hero-left {
    width: 55%;
    padding: 120px 80px;
    background: linear-gradient(to right, #000, #183c45);

}

.hero-left h1 {
    font-size: 54px;
    letter-spacing: 2px;

}

.hero-left h1 span {
    color: #38bdf8;
}

.line {
    width: 60px;
    height: 2px;
    background: #38bdf8;
    margin: 20px 0;
}


.hero-left p {
    width: 420px;
    font-size: 18px;
    line-height: 1.6;
    color: #e5e7eb;
    margin-bottom: 40px;
}


.btn {
    padding: 10px 30px;
    border: 1px solid #38bdf8;
    border-radius: 20px;
    color: #38bdf8;
    text-decoration: none;
    font-size: 18px;
}

.btn:hover {
    background: #38bdf8;
    color: #0f172a;
    transition: 0.19s;
}

.hero-right {
    width: 45%;
    clip-path: polygon(20% 10%, 100% 1%, 80% 90%, 0% 99%);
}

.hero-right img {
    width: 100%;
    height: 1fr;
}

.socials {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.socials a {
    color: #38bdf8;
    text-decoration: none;
    margin-top: 15px;
}